body{
    background-image: url(pics/BG4.jpg );
   
    background: size 100px;
    
}
.box1{
  
  display: flex;
  justify-content: space-between;
}
h1{
font-size: 50px;
text-decoration: underline;

}
.grid{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;   
}
.icon{
    position: relative;
}
.icon img{
    padding: 30px;
}
.icon p{
    margin-left: 80px;
    margin-top: 0px;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sentence p{
 
    padding-right: 290px;
    font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.sentence1 p{
 
    padding-right: 1000px;
    font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}